<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    {% block stylesheet %}
    

    {% endblock %}
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <style>
        .alert-danger{
            background-color: #f8d7da; /* Light red background */
            color: #842029;           /* Darker red text for better visibility */
            border-color: #f5c2c7;    /* Slightly darker border for contrast */
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="{{ url_for('home')}}"> <img src="{{url_for('static',filename='images/logo.svg')}}" height="35px" style="margin-right: 7px;">FlaskMart</a>
            </div>
            <ul class="nav-links">
                <li style="margin-left: -420px;"><a href="{{ url_for('home')}}">Home</a></li>
                <li><a href="{{ url_for('market_page')}}">Market</a></li>
            </ul>
            {% if current_user.is_authenticated %}
                <div class="auth-links">
                    <a style="color: lawngreen; font-weight: bold;">
                        <img src="{{url_for('static',filename='images/coin.svg')}}" height="20px">
                        <i class="fas fa-coins"></i>
                        {{current_user.prettier_budget }}
                    </a>
                    <a class="login">Welcome, {{ current_user.username }}</a>
                    <a href="{{ url_for('logout_page')}}" class="register">Logout</a>
                </div>
            {% else %}
                <div class="auth-links">
                    <a href="{{ url_for('login_page')}}" class="login">Login</a>
                    <a href="{{ url_for('register_page')}}" class="register">Register</a>
                </div>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages: %}
                <div class="alert alert-{{category}} container">
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" area-label="Close">
                        <span area-hidden = "true">&times;</span>
                    </button>
                    {{message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% block content %}

    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>
</html>