{% extends 'base.html' %}
{% block title %}
    Home

{% endblock %}


{% block content %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Welcome to FlaskMart!</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">FlaskMart is a user-friendly platform designed to make buying and selling easier, faster, and more secure. Whether you're a customer looking for great deals or a seller aiming to reach a wide audience, FlaskMart has everything you need to succeed.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="{{ url_for('register_page')}}" class="btn btn-primary btn-lg px-4 me-sm-3">Get Started</a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
        </div>
      </div>


{% endblock %}