{% extends 'base.html' %}
{% block title %}
    Market
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/market.css')}}">
{% endblock %}

{% block content %}
<div class="container market-container">
    <div class="row market-row">
        <!-- Available Items Section -->
        <div class="col-md-7 available-items-section">
            <h2 class="section-title">Available Items</h2>
            <p class="section-description">Click on one of the items to start buying</p>
            <!-- New Wrapper Div for Styling -->
            <div class="table-container">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Barcode</th>
                            <th>Price</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            {% include 'includes/items_modals.html' %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.barcode }}</td>
                                <td>₹ {{ item.price }}</td>
                                <td>
                                    <button type="button" class="more-info-btn" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                                    <button type="button" class="buy-btn" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Buy</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        

        <!-- Vertical Line -->
        <div class="col-md-1 vertical-divider">
            <div class="divider-line"></div>
        </div>

        <!-- Owned Items Section -->
        <div class="col-md-4 owned-items-section">
            <h2 class="section-title">Owned Items</h2>
            <p class="section-description">Click on sell item to put an item back on the market</p>
            <ul class="owned-items-list">
                {% for owned_item in owned_items %}
                {% include 'includes/owned_items_modals.html' %}
                    <li class="list-group-item owned-item">{{ owned_item.name }}
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}" 
                                style="align-items: right;">
                            Sell
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
