{% extends 'base.html' %}

{% block stylesheet%}
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">

{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Create Your Account</h1>
        <form method="post" class="form-register">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="eg: xyz123") }}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="eg: xyz@gmail.com") }}
            </div>

            <div class="form-group">
                {{ form.password1.label(class="form-label") }}
                {{ form.password1(class="form-control password-input", placeholder = "") }}
                <div class="password-toggle">
                    <input type="checkbox" id="togglePassword1">
                    <label for="togglePassword1">Show Password</label>
                </div>
            </div>

            <div class="form-group">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control password-input", placeholder="") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn-submit") }}
            </div>
        </form>

        <div class="form-footer">
            <p>Already have an account? <a href="{{ url_for('login_page') }}">Login here</a></p>
        </div>
    </div>

    <script>
        // JavaScript to toggle password visibility for the first password field
        document.getElementById('togglePassword1').addEventListener('change', function() {
            const passwordInput = document.querySelectorAll('.password-input')[0];
            if (this.checked) {
                passwordInput.setAttribute('type', 'text');
            } else {
                passwordInput.setAttribute('type', 'password');
            }
        });
    </script>
{% endblock %}
